@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin:0;
  padding:0; 
  font-family: 'Poppins';
}
body{
  background: rgb(73, 99, 123);
}
.start{
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
h1{
  color: rgb(22, 24, 22);
  font-size: 45px;
  font-weight: 600;

}
button{
  background-color: rgb(40, 46, 42);
  color: rgb(251,223,113);
  font-size: 25px;
  padding: 5px 10px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid rgb(251,223,113);
  transition: transform .4s linear; 
  box-shadow: 0 3px 10px rgb(0 ,0, 0, 0.8);
 
}

button:hover{
  color: rgb(97, 73, 123);
  background: rgb(251,223,113);
  border: 2px solid black;
  cursor: pointer;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.info{
  display: flex;
  flex-direction: column;
  width:180px;
  height:250px;
  padding:1rem;
  margin-left:4rem;
  margin-bottom: 1rem;
  border:2px solid rgb(251,223,113);
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
  transition: transform .4s linear; 
  box-shadow: 0 3px 10px rgb(0 ,0, 0, 0.8);
}
.info:hover{
  transform:scale(1.1);
}
.info img{
  border-radius: 100px;
}
.info .name{
  color:rgb(26, 24, 24);
  font-size: 1.4rem;
  font-weight: 500;
  
}
.info p{
  color:rgb(251,223,113);
  font-size:0.9rem;
  font-weight: 500;
}